# vim temporary files
*.swp
*.swo
*.swn
*.swq

tmp
*.cray
*.pgi
*.intel
*.gnu

# executables
*.out
*.exe
main
managed
explicit
bandwidth
string_reverse
dot
blur_twice
blur
blur_twice_omp
*.cuda
*.omp
axpy_omp
newton
hist
diffusion2d
diffusion2d_mpi

# visualization output files
*.bin
*.bov

# profiling outpu
*.nvvp

# compilation files
*.o
*.a
*.lst
*.cub
*.ptx
*.MOD
*.mod
